.project {
  text-align: left;
}

.project-details {
  color: unset;
  text-decoration: none;
}

.project-details:hover {
  color: unset;
  text-decoration: none;
}

.project-badge {
  width: max-content;
  font-size: 14px;
}

.project-footer {
  display: flex;
  justify-content: flex-start;
}
