.App {
  text-align: center;
}

:root {
  --navbar-height: 4rem;
}

.hidden {
  display: none;
}

.mt-nav {
  margin-top: var(--navbar-height);
}

.mt-nav.alert {
  margin-bottom: unset;
  border-radius: unset;
}

.page-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
