.readme-preview {
  text-align: left;
  width: 1012px;
}

:root {
  --markdown-link-color: #539bf5;
  --markdown-code-bg-color: #2d333b;
  --markdown-code-text-color: #adbac7;
}

.readme-preview pre, code {
  background-color: var(--markdown-code-bg-color);
  color: var(--markdown-code-text-color);
  border-radius: .25rem;
  padding: .25rem;
}

.readme-preview a {
  color: var(--markdown-link-color);
}
