.header {
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  height: 30rem;
}

.bannerImg {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 50%;
}

.bannerText {
  z-index: 3;
  position: relative;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  font-size: 3rem;
  border-width: 5px !important;
}
