.navbar {
  max-height: var(--navbar-height);
}

:root {
  --logo-size: calc(var(--navbar-height) - 1rem);
}

.logo {
  font-size: var(--logo-size);
}

.logo-brand {
  width: var(--logo-size);
  height: var(--logo-size);
}

.logo-wrapper {
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  overflow: hidden;
}
