.list-projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-projects-sort-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  padding-left: unset;
  padding-right: unset;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: unset !important;
}

.form-group {
  margin-bottom: unset;
}
